@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



@import "tailwindcss";
@plugin "daisyui";@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #57d748;
  --color-secondary: #519cf0;
  --color-primary-content: #4B5563;
  --color-secondary-content: #03373D;
  --color-tertiary-content: #4B5563;
}
@plugin "daisyui/theme" {
  name: "dark";
  /* default: true; */
  --color-primary: #57d748;
  --color-secondary: #519cf0;
  --color-primary-content: #D1D5DB;
  --color-secondary-content: white;
  --color-tertiary-content: #D1D5DB;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-eb-garamond {
  font-family: "EB Garamond", serif;
}
.font-playfair-display {
  font-family: "Playfair Display", serif;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}


.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.active{
    background: oklch(0% 0 0 / 0.322);
}